---
name: ElementCrosslink
---
<div className={props.className}>
    <div className="teaser sctnbgclr">
        <ResponsiveImage
            imageSrcSetS={props.imageSrcSetS}
            imageSrc={props.imageUrl || props.imageSrc}
            ratio="1.2"
            />
    </div>
    <div className="details">
    {
        props.name && props.link && props.title &&
            <div className="cite xscopy sctnbgclrAfter">
                        <a className="crosslink" href={props.link}>
                            <Icon 
                                base="../.."
                                href="/static/icons/sprite.svg#arrow"
                            />
                            {props.name}
                        </a>
                <span className="linebreak"></span>
                {props.title}
            </div>
    }
    </div>
</div>