---
name: Clients
---
<section className="mod-clients invert">
	{
		props.headline &&
			<Headline
				level={props.level}
				className="h h2-2"
				text={props.headline}
				/>
	}
	<ul className="clientslist">
		<li className="item" style={{backgroundImage: `url(${props.base}/static/lg_deutschebank.svg)`}}>Deutsche Bank</li>
		<li className="item" style={{backgroundImage: `url(${props.base}/static/lg_tui.svg)`}}>Tui</li>
		<li className="item" style={{backgroundImage: `url(${props.base}/static/lg_bmw.svg)`}}>BMW</li>
		<li className="item" style={{backgroundImage: `url(${props.base}/static/lg_audi.svg)`}}>Audi</li>
		<li className="item" style={{backgroundImage: `url(${props.base}/static/lg_ergo.svg)`}}>Ergo</li>
		<li className="item" style={{backgroundImage: `url(${props.base}/static/lg_vw.svg)`}}>VW</li>
		<li className="item" style={{backgroundImage: `url(${props.base}/static/lg_leica.svg)`}}>Leica</li>
		<li className="item" style={{backgroundImage: `url(${props.base}/static/lg_unitymedia.svg)`}}>Unitymedia</li>
		<li className="item" style={{backgroundImage: `url(${props.base}/static/lg_allianz.svg)`}}>Allianz</li>
		<li className="item" style={{backgroundImage: `url(${props.base}/static/lg_telefonica.svg)`}}>Telefonica</li>
		<li className="item" style={{backgroundImage: `url(${props.base}/static/lg_mcdonalds.svg)`}}>McDonalds</li>
		<li className="item" style={{backgroundImage: `url(${props.base}/static/lg_comdirect.svg)`}}>comdirect</li>
	</ul>
</section>
