---
name: Case4
---
<section className={helpers.classNames({'mod-case4': true, gradient: props.gradient, invert: props.invert})} data-theme={props.theme}>
	{
		props.headline &&
		<Headline
			level={props.level}
			className="h h2-2"
			text={props.headline}
			highlight
			/>
	}
	{
		props.text1 &&
		<Text
			Tagname="p"
			className="copy copyTop"
			text={props.text1}
			bold
			/>
	}
	<div className="mod-case4__funfact">

	</div>
	{
		props.text2 &&
		<Text
			Tagname="p"
			className="copy copyRight"
			text={props.text2}
			bold
			/>
	}
</section>
