---
name: Case4
---
<section className={helpers.classNames({'mod-case4': true, gradient: props.gradient, invert: props.invert})} data-theme={props.theme}>
	{
		props.headline &&
		<Headline
			level={props.level}
			className="h h2-2"
			text={props.headline}
			highlight
			/>
	}
	{
		props.text1 &&
		<Text
			Tagname="p"
			className="copy copyTop"
			text={props.text1}
			bold
			/>
	}
	<div className="mod-case4__funfact">

	{
    props.name &&
    <Headline
        level={props.namelevel}
        className="h h5"
        text={props.name}
        />
	}
	<dl>
		<dt>Job Title</dt>
		<dd>{props.jobtitle}</dd>

		<dt>Company</dt>
		<dd>{props.company}</dd>
		
		<dt>Location</dt>
		<dd>{props.location}</dd>
		
		<dt>Milestones</dt>
		{
		props.milestones &&
			React.Children.map(props.milestones, milestone => (
				<dd>{milestone}</dd>
			))
		}

		<dt>Fun Fact</dt>
		<dd>{props.funfact}</dd>
	</dl>
		
	</div>
	{
		props.text2 &&
		<Text
			Tagname="p"
			className="copy copyRight"
			text={props.text2}
			bold
			/>
	}
</section>
