---
name: Quote
---
<section className={helpers.classNames({'mod-quote': true, 'invert sctntxtclr': props.invert})}>
	<blockquote className="quote h2-1 styleline sctnbrdrclr">
		{
			props.copy &&
			<p className="copy">{props.copy}</p>
		}
		{
			props.cite &&
			<cite className="cite xscopy">

				{
					!props.citeLink &&		
						<span>{props.cite}</span>

				}

				{
					props.citeLink &&
						<a className="link" href={props.citeLink}>
							<Icon
								base="../.."
								href="/static/icons/sprite.svg#arrow"
								/>
							{props.cite}
						</a>
				}

				{
					props.cite && props.linkText &&
						<span className="linebreak" aria-hidden></span>
				}

				{
					props.linkText && props.linkUrl &&
						<a className="link" href={props.linkUrl}>
							<Icon
								base="../.."
								href="/static/icons/sprite.svg#arrow"
								/>
							{props.linkText}
						</a>
				}
				
			</cite>
		}
	</blockquote>
</section>
