---
name: Head
---
<head>
	<link rel="preconnect" href="https://sinnerschrader.jobs"/>
	<link rel="preconnect" href="https://sinnerschrader.news"/>
	<link rel="preload" href="https://fonts.sinnerschrader.com/fonts/noe-text-regular.woff" as="font" type="font/woff"/>
	<link rel="preload" href="https://fonts.sinnerschrader.com/fonts/maison-neue-light.woff2" as="font" type="font/woff2"/>
	<link rel="preload" href="https://fonts.sinnerschrader.com/fonts/maison-neue-regular.woff2" as="font" type="font/woff2"/>
	<link rel="stylesheet" href="https://fonts.sinnerschrader.com/sinnerschrader.com.min.css"/>
	<link rel="canonical" href={props.host + props.href} />
	<meta httpEquiv="X-UA-Compatible" content="IE=Edge" />
	<meta httpEquiv="Content-Security-Policy" content={[
		`base-uri 'none'`,
		`block-all-mixed-content`,
		`child-src www.googletagmanager.com`,
		`connect-src 'self' ${props.host}`,
		`default-src 'self' ${props.host}`,
		`font-src https://fonts.sinnerschrader.com`,
		`form-action 'none'`,
		`img-src 'self' ${props.host}`,
		`manifest-src 'none'`,
		`media-src 'self' ${props.host}`,
		`object-src 'none'`,
		`script-src 'self' ${props.host}`,
		`style-src 'self' ${props.host} https://fonts.sinnerschrader.com 'unsafe-inline'`
		].join('; ')} />
	<meta charSet="UTF-8" />
	<title>{props.title || 'SinnerSchrader'}</title>
	<meta name="format-detection" content="telephone=no" />
	<meta name="viewport" content="width=device-width,user-scalable=no" />
	<meta name="language" content="en" />
	<meta
		name="description"
		content={[
			`Great products change everything. Behaviour. Business. Markets.`,
			`That’s why we build transformational products.`
		].join(' ')}
		/>
	<meta name="robots" content="index,follow" />
	<meta property="fb:page_id" content="358531227139" />
	<meta property="og:type" content="website" />
	<meta property="og:title" content="SinnerSchrader" />
	<meta
		property="og:description"
		content={[
			'Great products change everything. Behaviour. Business. Markets. ',
			'That’s why we build transformational products.'
			].join('')}
		/>
	<meta property="og:url" content={props.host + props.href} />
	<meta property="og:image" content="https://sinnerschrader.com/static/sinnerschrader.png" />
	<meta name="twitter:card" content="summary" />
	<meta name="twitter:url" content={props.host + props.href} />
	<meta name="twitter:site" content="@sinnerschrader" />
	<meta name="twitter:creator" content="@sinnerschrader" />
	<meta name="twitter:title" content="SinnerSchrader" />
	<meta name="twitter:image" content="https://sinnerschrader.com/static/sinnerschrader_square.png" />
	<meta
		name="twitter:description"
		content={[
			`Great products change everything. Behaviour. Business. Markets. `,
			`That’s why we build transformational products.`
		].join(' ')}
		/>
	<link
		rel="stylesheet"
		href={props.base + '/static/css/app.css'}
		media="screen,print"
		/>
	<link
		rel="stylesheet"
		href={props.base + '/static/css/scoped.css'}
		media="screen,print"
		/>
	<link
		rel="icon"
		href={props.base + '/static/48x48.png'}
		sizes="48x48"
		/>
	<link
		rel="icon"
		href={props.base + '/static/96x96.png'}
		sizes="96x96"
		/>
	<link
		rel="icon"
		href={props.base + '/static/192x192.png'}
		sizes="192x192"
		/>
	<link
		rel="shortcut icon"
		href={props.base + '/static/favicon.ico'}
		type="image/x-icon"
		/>
	{props.children}
</head>
