---
name: Infographic1ListEntry
---
<li className="listMenuEntry">
	<input type="radio" name="listMenuI" className="listMenuInput hide" id={props.id} title={props.label} defaultChecked={props.checked} role="tab" aria-controls={props.id + "-panel"}/>
	<label className="listMenuLabel sctntxtclr" htmlFor={props.id} id={props.id + "-tab"} aria-hidden="true">
		{props.label}
	</label>
	<ul className="copy" id={props.id + "-panel"} role="tabpanel" aria-labelledby={props.id + "-tab"}>
		{props.children}
	</ul>
</li>
