---
name: Links
---
<section className="mod-links">
	<div className="conf">
		<h2 className="h h4">Conferences</h2>
		<ElementLink href="http://nextconf.eu/" className="conf-logo" target="_blank" rel="noopener noreferrer" hiddenText="Next Conf EU">
			<img src={props.base + '/static/next.svg'} alt="" title="Next Conf EU" width="102" height="40" />
		</ElementLink>
		<ElementLink href="http://www.jsconf.eu" className="conf-logo" target="_blank" rel="noopener noreferrer" hiddenText="JSConf EU">
			<img src={props.base + '/static/js.svg'} alt="" title="JSConf EU" width="40" height="40" />
		</ElementLink>
	</div>
	<ul className="linklist" role="contentinfo">
		<li className="linklist-item">
			<a href={props.base + '/contact/'} className="linklist-link">
				<Icon
					base={props.base}
					href="/static/icons/sprite.svg#arrow"
					/>
				Contact
			</a>
		</li>
		<li className="linklist-item">
			<a href={props.base + '/imprint/'} className="linklist-link">
				<Icon
					base={props.base}
					href="/static/icons/sprite.svg#arrow"
					/>
				Imprint
			</a>
		</li>
		<li className="linklist-item">
			<a href={props.base + '/data-policy/'} className="linklist-link">
				<Icon
					base={props.base}
					href="/static/icons/sprite.svg#arrow"
					/>
				Data Policy
			</a>
		</li>
		<li className="linklist-item">
			<a
				href="https://github.com/sinnerschrader/sinnerschrader-website"
				className="linklist-link"
				>
				<Icon
					base={props.base}
					href="/static/icons/sprite.svg#arrow"
					/>
				Improve this site
			</a>
		</li>
	</ul>
</section>
