---
name: QuoteImage
---
<section className={helpers.classNames({'mod-quoteimage': true, 'invert': props.invert})}>
	<blockquote className="quote styleline sctnbrdrclr">
		<Text
			Tagname="p"
			className="h3"
			text={props.copy}
			/>

		<cite className="cite xscopy">
				{
					props.creditsLink &&
						<a className="link" href={props.creditsLink}>
							<Icon
								base="../.."
								href="/static/icons/sprite.svg#arrow"
								/>
							{props.creditsName}
						</a>
				}
				{
					!props.creditsLink &&
						<span className="cite__name">{props.creditsName}</span>
				}
				<span className="linebreak"></span>
				{props.creditsTitle}
		</cite>
		{
			(props.linkUrl1 && props.linkText1) &&
				<div className="crosslinks cite xscopy">
					{
						props.linkUrl1 && props.linkText1 &&
							<a className="link" href={props.linkUrl1}>
								<Icon
									base="../.."
									href="/static/icons/sprite.svg#arrow"
									/>
								{props.linkText1}
							</a>
					}
					{
						props.linkUrl1 && props.linkText1 && props.linkUrl2 && props.linkText2 &&
							<span className="linebreak"></span>
					}
					{
						props.linkUrl2 && props.linkText2 &&
							<a className="link" href={props.linkUrl2}>
								<Icon
									base="../.."
									href="/static/icons/sprite.svg#arrow"
									/>
								{props.linkText2}
							</a>
					}
				</div>
		}

	</blockquote>
	<div className="teaser sctnbgclr">
		<ResponsiveImage
			imageSrcSetS={props.imageSrcSetS}
			imageSrcSetM={props.imageSrcSetM}
			imageSrcSetL={props.imageSrcSetL}
			imageSrc={props.imageUrl || props.imageSrc}
			ratio="1.33"
			alt={props.alt}
			/>
	</div>
</section>