---
name: ElementButton
---
<style scoped>
.button {
	display: inline-block;
	min-width: 175px;
	padding: 12px 24px;
	border: 2px solid currentColor;
	font-weight: bold;
	line-height: 40px;
	text-align: center;
	color: var(--s2-button-color);
}

.button:hover {
	color: var(--s2-button-hover-color);
	background: var(--s2-button-hover-background-color);
}

.button-bg {
	background-color: var(--s2-white);
}
</style>
<a href={props.href} className={helpers.classNames({[style.button]: true, [style.buttonBg]: props.buttonBg})}>
    {props.label}
</a>
