---
name: Story1
---
<section className={helpers.classNames({'mod-story1': true, gradient: props.gradient, 'invert': props.invert})} data-theme={props.theme}>
	{
		props.headline &&
		<Headline
			level={props.level}
			className="h h2-2"
			text={props.headline}
			/>
	}
	{
		props.copy &&
		<Text
			Tagname="p"
			className="copy"
			text={props.copy}
			/>
	}
	{
		(props.buttonLabel && props.buttonHref) &&
		<div className="buttonrow">
			<ElementButton
				label={props.buttonLabel}
				href={props.buttonHref}
				target={props.buttonTarget}
				buttonBg={props.buttonBg}
				invert={props.buttonInvert}
				theme={props.theme}
			/>
		</div>
	}
</section>
