.card {
	position: relative;
	margin: 0 0 @s2-moduleGap-s-2 0;
	padding: 0 (@s2-moduleGap-l / 2) @s2-moduleGap-s @s2-moduleGap-l;
	width: 100%;
	max-width: 355px;
	background: linear-gradient(
		to bottom,
		transparent 0%,
		transparent (@smnDim*4),
		@s2-lightgrey (@smnDim*4),
		@s2-lightgrey 100%
	);

	.teaser {
		margin-bottom: (@s2-moduleGap-s*.5);
	}

	.figcaption {
		color: @s2-darkgrey2;
		.sub {
			font-size: 20px;
			line-height: 32px;
			color: @s2-black;
			letter-spacing: 0.6px;

			@media @s2-mq-window-desktop {
				font-size: 24px;
				line-height: 40px;
			}
		}
	}

	.smn {
		position: absolute;
		top: (@smnDim*2);
		left: 0;
		width: 50px;
		flex-direction: column;
	}

	.smn-item {
		margin-bottom: @smnDim;
		&:last-child {
			margin-bottom: 0;
		}
	}
}
