---
name: SocialMediaNetwork
---
<ul className="smn">
	{
		(props.twitterUrl && props.twitterTitle) &&
			<li className="smn-item">
					<a
						className="network"
						href={props.twitterUrl}
						rel="noopener noreferrer"
						target="_blank"
						title={props.twitterTitle}
						>
						<Icon
							base={props.base}
							href="/static/icons/sprite.svg#twitter"
							/>
					</a>
			</li>
		}
	{
		(props.facebookUrl && props.facebookTitle) &&
			<li className="smn-item">
				<a
					className="network"
					href={props.facebookUrl}
					rel="noopener noreferrer"
					target="_blank"
					title={props.facebookTitle}
					>
					<Icon
						base={props.base}
						href="/static/icons/sprite.svg#facebook"
						/>
				</a>
			</li>
		}
	{
		(props.linkedInUrl && props.linkedInTitle) &&
			<li className="smn-item">
				<a
					className="network"
					href={props.linkedInUrl}
					rel="noopener noreferrer"
					target="_blank"
					title={props.linkedInTitle}
					>
					<Icon
						base={props.base}
						href="/static/icons/sprite.svg#linked_in"
						/>
				</a>
			</li>
		}
	{
		(props.dribbbleUrl && props.dribbbleTitle) &&
			<li className="smn-item">
				<a
					className="network"
					href={props.dribbbleUrl}
					rel="noopener noreferrer"
					target="_blank"
					title={props.dribbbleTitle}
					>
					<Icon
						base={props.base}
						href="/static/icons/sprite.svg#dribbble"
						/>
				</a>
			</li>
		}
	{
		(props.mediumUrl && props.mediumTitle) &&
			<li className="smn-item">
				<a
					className="network"
					href={props.mediumUrl}
					rel="noopener noreferrer"
					target="_blank"
					title={props.mediumTitle}
					>
					<Icon
						base={props.base}
						href="/static/icons/sprite.svg#medium"
						/>
				</a>
			</li>
		}
	{
		(props.githubUrl && props.githubTitle) &&
			<li className="smn-item">
				<a
					className="network"
					href={props.githubUrl}
					rel="noopener noreferrer"
					target="_blank"
					title={props.githubTitle}
					>
					<Icon
						base={props.base}
						href="/static/icons/sprite.svg#github"
						/>
				</a>
			</li>
		}
	{
	props.children &&
		React.Children.map(props.children, child => (
			<li className="smn-item">{child}</li>
		))
	}
</ul>
