.slider {
	position: relative;
	background: linear-gradient(var(--s2-white) 10%, var(--s2-black) 10%);
}

.frame {
	width: 100%;
	position: relative;
	overflow: hidden;
	white-space: nowrap;
	font-size: 0;
	line-height: 0;
	margin: 0;
}

.slides {
	display: block;

	> li {
		padding: 0 2.5%;
		width: 80%;
		position: relative;
		display: inline-block;
		z-index: 1;
	}
}

.slide__content {
	height: 100%;
	width: 100%;
	background: red;
}

.prev, .next {
	font-size: 1rem;
	position: absolute;
	top: 50%;
}

.prev {
	left: 2rem;
}

.next {
	right: 2rem;
}

.dots {
    margin: 50px 0;
    padding: 0;
    text-align: center;
    width: 100%;

	> li {
		background-color: var(--s2-darkgrey3);
		border-radius: 50%;
		display: inline-block;
		height: 10px;
		width: 10px;
		margin: 0 5px;
		cursor: pointer;
		text-align: center;

		&.active {
    		background-color: var(--s2-grey);
		}
	}
}
